button.btn {
  outline-color: black;
  outline-width: thin;
  outline-style:solid;
  border: none;
  padding: 5px 10px;
  position:static;
  margin: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  display: block;
}
