div#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div#app {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

button.btn {
  outline-color: black;
  outline-width: thin;
  outline-style:solid;
  border: none;
  padding: 5px 10px;
  position:static;
  margin: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  display: block;
}
