div#root {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(230, 230, 230);
  min-height: 100vh;
  min-width: 100vw;
}

div#app {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

div#picker-app {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  row-gap: 20px;
}

button.btn {
  outline-color: black;
  outline-width: thin;
  outline-style:solid;
  border: none;
  padding: 5px 10px;
  position:static;
  margin: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  display: block;
  flex: 0 0 7%;
}

.toggle {
  position: absolute;
  left: 100%;
  top: 0;
  transform: translateX(-100%);
  background-color: lightsteelblue;
  padding: 10px;
  outline: black solid 1px;
}