div#video-container {
  max-width: 100vw;
  max-height: 100vh;
  min-height: 0;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  align-items: center;
}

video#main-video {
  flex: 1 0 80%;
  object-fit: contain;
}

div#progress-bar-outer {
  position: relative;
  flex: 0 0 1.3%;
  width: 100%;
  background-color: dimgray;
}

div#progress-bar {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  pointer-events: none;
}

div.marker-container {
  height: 100%;
  position: absolute;
  top: 0;
  aspect-ratio: 0.5;
  pointer-events: none;
  color: white;
  overflow: visible;
}

svg.marker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  pointer-events: none;
  overflow: visible;
}

div#controls-container {
  flex: 0 0 7%;
  overflow: hidden;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

div.button-container {
  height: 100%;
  aspect-ratio: 1.0;
  position: relative;
  background-color: rgba(169, 169, 169, 0.4);
}

svg.button {
  height: 100%;
  width: 100%;
}

div.rectangle {
  position: absolute;
  outline-width: thin;
  outline-style: solid;
  text-align: center;
  pointer-events: none;
}

span.rectText {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}

div.x-button-container {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
}

svg.x-button {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  pointer-events: fill;
}

span.dot {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

div.popup {
  background-color: lightgray;
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin: 0;
  top: 10px;
  left: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

button.btn {
  outline-color: black;
  outline-width: thin;
  outline-style:solid;
  border: none;
  padding: 5px 10px;
  position:static;
  margin: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  display: block;
}